<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppAirPollution.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9502A8481CB1F1D200904A0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9502A8611CB1F1D200904A0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9502A86C1CB1F1D200904A0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
